*,
*::before,
*::after {
  box-sizing: border-box;

  @import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@600&family=Open+Sans:wght@300&family=Poppins:wght@200;400;700&display=swap");
}

body {
  display: block;
  background-color: rgb(224, 220, 220);
  font-family: "Amatic SC", sans-serif;
  text-align: center;
}
button {
  background-color: rgb(210, 208, 127);
  border-radius: 7px;
  color: white;
  text-align: center;
}
h1,
h2,
li {
  margin-top: 0;
  margin-bottom: o.25rem;
}
h1 {
  text-align: center;
}
form {
  margin-bottom: 2rem;
}
form div {
  margin-top: 0.5rem;
  width: max-content;
  margin-inline: auto;
}
