*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: block;
  background-color: rgb(224, 220, 220);
  font-family: "Amatic Sc", sans-serif;
  text-align: center;
  font-size: 2rem;
}
button {
  background-color: rgba(216, 215, 132, 0.658);
  border-radius: 7px;
  color: white;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
}
h1,
h2,
li {
  margin-top: 0;
  margin-bottom: o.25rem;
}
h1 {
  text-align: center;
}
form {
  margin-bottom: 2rem;
}
form div {
  margin-top: 0.5rem;
  width: max-content;
  margin-inline: auto;
}
div {
  margin: 10px;
}
span #listName {
  text-align: center;
  border-radius: 10px;
  font-family: "Amatic SC", sans-serif;
  width: 200px;
  padding-top: 10px;
  font-size: 1.2rem;
}
span {
  background-color: orange;
  padding: 35px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
}
